@model IEnumerable<MyProWeb.Models.Category>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"><a asp-controller="Category" asp-action="Index" style="color: black; text-decoration: none;">Cate Manager</a></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    Công Thái                
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class=" row">
        <div class="col-12">
            <div class="card ">
                <div class="card-header">
                    <a asp-area="Admin" asp-controller="Category" asp-action="Create" class="card-tools btn bg-gradient-primary">
                        <i class="fa-regular fa-plus fa-2xs"></i> Create New Category
                    </a>
                </div>
                <div class="card-body table-responsive p-0">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Image</th>

                                <th><i class="ti ti-settings"></i></th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var a in Model)
                            {
                                <tr>
                                    <td>@a.Idcate</td>
                                    <td>@(a.NameCate ?? "Tên không có sẵn")</td>

                                    <td><img style="width: 80px; height: 80px;" src="@a.ImgCate" alt="@a.NameCate"></td>
                                    <td>
                                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@a.Idcate" class="btn btn-info"><i class="fa-regular fa-pen-to-square" style="color: #ffffff;"></i> Update</a>
                                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@a.Idcate" class="btn btn-danger"><i class="fa-regular fa-trash-can" style="color: #ffffff;"></i> Delete</a>
                                    </td>

                                </tr>
                            }



                        </tbody>
                    </table>


                </div>

            </div>

        </div>
    </div>
</section>

<script>
    document.getElementById("backToAllBrands").addEventListener("click", function () {
        window.location.href = '@Url.Action("Index")'; // Điều hướng đến trang danh sách gốc
    });
</script>
