@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

@model MyProWeb.Models.Product

<!-- phần nội dung -->
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="@Model.ImgPro" alt="@Model.NamePro" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2 class="text-black">@Model.NamePro</h2>
                
                <p>
                    <strong class="text-primary h4">
                        @Model.Price.Value.ToVND()
                    </strong>
                </p>

                <form asp-area="Customer" asp-action="AddToCart" asp-controller="Cart" asp-route-id="@Model.Idpro">
                    <div class="mb-5">
                        <div class="input-group mb-3" style="max-width: 120px;">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                            </div>
                            <input type="text" class="form-control text-center" value="1" name="SoLuong" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                            </div>
                        </div>

                    </div>
                    <p><button type="button" data-id="@Model.Idpro" class="ajax-add-to-cart buy-now btn  btn-outline-success">Add To Cart</button>
                        <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-outline-primary text-center">Home</a>
                        <a asp-area="Customer" asp-controller="Filter" asp-action="Index" class="btn btn-outline-secondary text-center">Back</a>
                    </p>
                </form>
                <br /><br /><br /><br /><br /><br />
            </div>
        </div>
    </div>
</div>
@section Scripts {
                <script>
                $(document).ready(function () {
                    $(".ajax-add-to-cart").click(function(){
                var quantity = $(this).closest('form').find('[name="SoLuong"]').val();

                        $.ajax({
                            url: "/customer/Myproweb/cart/AddToCart",
                            data: {
                                id: $(this).data("id"),
                                SoLuong: quantity,
                                type: "ajax"
                            },
                            success: function(data){
                                Swal.fire({
                            
                                    icon: "success",
                                    title: "Add To Cart Successfully!",
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            },
                            error: function(){
                                Swal.fire({
                                    icon: "error",
                                    title: "Failed!",
                                    text: "Something went wrong!",
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            }
                        });
                    });
                });
            </script>

    @{

        <partial name="_ValidationScriptsPartial" />
    }
}
