@using System.Globalization;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<MyProWeb.Models.Product>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<section class="uk-section uk-section-small">
    <div class="uk-container">
        <div class="uk-grid-medium uk-child-width-1-1" uk-grid>

            <div class="uk-text-center">
                <ul class="uk-breadcrumb uk-flex-center uk-margin-remove">


                    <li><a asp-controller="Home">Home</a></li>


                </ul>


                <h1 id="product-title" class="uk-margin-small-top uk-margin-remove-bottom">
                    @ViewBag.TenDanhMuc
                </h1>
                <div class="uk-text-meta uk-margin-xsmall-top uk-margin-bottom">
                    Total's product:  @Model.Count()
                </div>
            </div>

            <div>
                <div class="uk-grid-medium" uk-grid>
                    <aside class="uk-width-1-4 tm-aside-column tm-filters"
                           id="filters"
                           uk-offcanvas="overlay: true; container: false;">
                        <div class="uk-offcanvas-bar uk-padding-remove">
                            <div class="uk-card uk-card-default uk-card-small uk-flex uk-flex-column uk-height-1-1">
                                <header class="uk-card-header uk-flex uk-flex-middle">
                                    <div class="uk-grid-small uk-flex-1"
                                         uk-grid>
                                        <div class="uk-width-expand">
                                            <div class="uk-h3">
                                                Filter
                                            </div>
                                        </div>
                                        <button class="uk-offcanvas-close"
                                                type="button"
                                                uk-close></button>
                                    </div>
                                </header>
                                <div class="uk-margin-remove uk-flex-1 uk-overflow-auto"
                                     uk-accordion="multiple: true; targets: &gt; .js-accordion-section"
                                     style="flex-basis: auto">
                                    <a asp-controller="Filter" asp-action="Index" class="btn btn-outline-dark">Delete All Filters</a>

                                    @await Component.InvokeAsync("DanhMuc")
                                    <section class="uk-card-body js-accordion-section uk-open">
                                        <h4 class="uk-accordion-title uk-margin-remove">
                                            Brand
                                        </h4>
                                        @await Component.InvokeAsync("ThuongHieu")
                                    </section>

                                </div>
                            </div>
                        </div>
                    </aside>
                    <div class="uk-width-expand">
                        <div class="uk-grid-medium uk-child-width-1-1"
                             uk-grid>
                            <div>
                                <div class="uk-card uk-card-default uk-card-small tm-ignore-container">
                                    <div class="uk-grid-collapse uk-child-width-1-1"
                                         id="products"
                                         uk-grid>
                                        <div class="uk-card-header">
                                            <div class="uk-grid-small uk-flex-middle"
                                                 uk-grid>
                                                <div class="uk-width-1-1 uk-width-expand@s uk-flex uk-flex-center uk-flex-left@s uk-text-small">
                                                </div>
                                                <div class="uk-width-1-1 uk-width-auto@s uk-flex uk-flex-center uk-flex-middle">
                                                    <button class="uk-button uk-button-default uk-button-small uk-hidden@m"
                                                            uk-toggle="target: #filters">
                                                        <span class="uk-margin-xsmall-right"
                                                              uk-icon="icon: settings; ratio: .75;"></span>Filters
                                                    </button>
                                                    <div class="tm-change-view uk-margin-small-left">
                                                        <ul class="uk-subnav uk-iconnav js-change-view"
                                                            uk-switcher>
                                                            <li>
                                                                <a class="uk-active"
                                                                   data-view="grid"
                                                                   uk-icon="grid"
                                                                   uk-tooltip="Grid"></a>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="uk-card uk-card-default tm-ignore-container">
                                                <section class="section-products">
                                                    <div class="container">

                                                        <div class="row">
                                                            @if (ViewBag.Empty != null)
                                                            {
                                                                @ViewBag.Empty
                                                            }
                                                            @foreach (var item in Model)
                                                            {
                                                                <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">
                                                                    <div class="product">
                                                                        <a class="tm-media-box" asp-controller="Filter" asp-action="Details" asp-route-id="@item.Idpro">
                                                                            @if (item.ImgPro != null)
                                                                            {
                                                                                <img style="border-radius: 20px" src="@item.ImgPro" alt="@item.NamePro" />

                                                                            }
                                                                            else
                                                                            {
                                                                                <img src="~/images/logo.svg" alt="no image!" />
                                                                            }
                                                                        </a>
                                                                    </div>
                                                                   
                                                                    <div class="heart">
                                                                        <a href="#"><i class="fas fa-heart" id="white-heart"></i></a>
                                                                    </div>
                                                                    <a asp-controller="Filter" asp-action="Details" asp-route-id="@item.Idpro">@item.NamePro</a>
                                                                    <a asp-controller="Filter" asp-action="Details" asp-route-id="@item.Idpro">@item.Price</a>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div>
                                <ul class="uk-pagination uk-flex-center">
                                    <li class="uk-active">
                                        <span>1</span>
                                    </li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li class="uk-disabled">
                                        <span>…</span>
                                    </li>
                                    <li><a href="#">20</a></li>
                                    <li>
                                        <a href="#">
                                            <span uk-pagination-next></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>



</section>

