@page "/admin/roles"
@model IndexModel
@{
    ViewData["Title"] = "List Role!";
}
<h2> @ViewData["Title"]</h2>

<partial name="_StatusMessage" model="@Model.StatusMessage" />
<div class="mb-2">
    <a class="btn btn-success" asp-page="./Create">Create New Role</a>

</div>

 <table class="table">
     <tr>
        <th>Role Name</th>
        <th>Actions</th>
     </tr>
    @foreach(var role in Model.roles)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <a class="btn btn-primary btn-sm" asp-page="./Edit" asp-route-roleID="@role.Id">Update</a>
                <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-roleID="@role.Id">Delete</a>
            </td>
        </tr>
    }
</table>
