@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MyProWeb.Models.User
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="card card-primary" style="margin: 10px">
    <div class="card-header" style="background-color: #dc3545;">
        <h3 class="card-title" style="color:white">Delete User</h3>
    </div>
    <dl class="card-body">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NameUser)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PassUser)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.PassUser" alt="@(Model.PassUser)" asp-append-version="true" style="width: 150px; height: 150px;">
        </dd>

    </dl>

    <div class="card-footer row">
        <form asp-action="PostDelete">
            <input type="hidden" asp-for="Iduser" />
            <button type="submit" style="width: 150px" class="btn btn-danger">Delete</button>
            <a asp-action="Index" type="submit" style="width: 150px; margin-left: 10px" class="btn btn-secondary ">Back</a>
        </form>
    </div>

</div>

